In [ ]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
# Crear una SparkSession
spark = SparkSession.builder.appName("ejemplo").getOrCreate()

In [ ]:
# Creation du Dataframe

In [ ]:
# 1. `lit`: Ajouter une colonne avec une valeur constante

In [ ]:
# 2. `col` et `when`: Créer une colonne avec une condition

In [ ]:
# 3. `concat`: Combiner des colonnes en une seule chaîne

In [ ]:
# 4. `month`, `year`, `quarter`: Extraire le mois, l'année et le trimestre

In [ ]:
# 5. `abs` et `floor`: Appliquer des fonctions mathématiques

In [ ]:
# 6. `concat_ws`: Concaténer avec un séparateur

In [ ]:
# 7. `array_distinct`, `collect_list`, `collect_set`: Utiliser des fonctions d'agrégation sur des arrays

In [ ]:
# 8. `split` et `trim`: Nettoyer et diviser des chaînes

In [ ]:
# 9. `explode`: Diviser une colonne de tableau en lignes distinctes

In [ ]:
# 10. `lower`: Convertir des chaînes en minuscules

In [ ]:
# 11. `select`: Sélectionner des colonnes spécifiques

In [ ]:
# 12. `withColumn`: Créer une nouvelle colonne

In [ ]:
# 13. `withColumnRenamed`: Renommer une colonne

In [ ]:
# 14. `drop`: Supprimer une colonne

In [ ]:
# 15. `join`: Joindre deux DataFrames (ici nous réutilisons le DataFrame lui-même pour l'exemple)

In [ ]:
# 16. `groupBy` et `agg`: Grouper par une colonne et appliquer une agrégation

In [ ]:
# 17. `drop_duplicates`: Supprimer les doublons

In [ ]:
# 18. `where`/`filter`: Filtrer les lignes selon une condition

In [ ]:
# 19. `when` et `otherwise`: Créer une colonne conditionnelle

In [ ]:
# 20. `astype`: Changer le type de colonne (équivalent à `cast`)

In [ ]:
# 21. `isin`: Vérifier si une valeur est dans une liste

In [ ]:
# 22. `lower`: Mettre des chaînes en minuscules (déjà utilisé mais réutilisé ici)

In [ ]:
# 23. `alias`: Utiliser un alias pour une colonne

In [ ]:
# 24. `isNull` et `isNotNull`: Vérifier si une colonne est nulle ou non

In [ ]:
# 25. `like` et `rlike`: Filtrer les chaînes avec un modèle

In [ ]:
# 26. `regexp_replace`: Remplacer des motifs dans une chaîne avec des expressions régulières

In [ ]:
# 27. `str.contains`: Vérifier si une chaîne contient un motif (équivalent à `like`)

In [ ]:
# differences performances entre collect() - show()

In [ ]:
# differences performances entre RDD - count()